@model Course.Shared.ProgrammingCourse

   
@{
    ViewData["Title"] = "Film Detail-" + Model.CourseName;
}
<h2>Film Detail</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Course Id</dt>
        <dd>@Model.CourseId</dd>
        <dt>Course Name</dt>
        <dd>@Model.CourseName</dd>
        <dt>Course Description</dt>
        <dd>@Model.Description</dd>
        <dt>Duration</dt>
        <dd>@Model.Duration</dd>
        <dt>Price</dt>
        <dd>@Model.Price</dd>
        <dt>@Model.FutureJob</dt>
        <dd>@Model.FutureJob</dd>
    </dl>
</div>